body {
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

h1 {
    font-style: italic;
    font-size: 50px;
    margin-bottom: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    margin-top: 150px;
}

.left {
    width: 600px;
}

.blocks {
    display: flex;
}

.blocks div {
    width: 150px;
    margin: 5px;
    color: black;
    font-style: italic;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
}

.blocks div h3 {
    text-align: center;
    padding: 35px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 30px;
    margin-top: 150px;
    font-style: italic;
    text-align: center;
}

.input-container {
    margin: 10px;
    border: black;
    background-color: white;
    width: 300px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

i {
    color: gray;
}

input {
    margin-left: 10px;
    border: none;
    font-style: italic;
    width: 100%;
    margin-right: 10px;
}

.submit-button {
    text-align: center;
}

.submit-button input {
    font-style: normal;
    font-weight: bold;
    background-color: orange;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    color: white;
    margin-top: 20px;
}

.navbar input {
    display: none;
}

.navbar-p {
    display: none;
}

@media screen and (max-width: 600px) {
    .container {
        width: auto;
        margin-top: auto;
        position: relative;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
    }

    img {
        width: 80px;
        height: 40px;
        margin: 5px;
    }

    h1 {
        margin: 0px;
        font-size: 35px;
    }

    .loginBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: normal;
        font-weight: bold;
        width: 100px;
        height: 40px;
        background-color: black;
        border-radius: 20px;
        color: white;
        margin-top: 5px;
        cursor: pointer;
    }

    .loginBtn:hover {
        background-color: orange;
    }

    .blocks {
        margin: auto;
    }

    .blocks div:hover {
        background-color: lightgoldenrodyellow;
    }

    p {
        display: none;
    }

    .navbar-center {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .navbar-p {
        display: flex;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .right {
        display: none;
    }

    .right h2 {
        display: none;
    }

    .right.active {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        top: 100%;
        left: 20%;
    }
}
