body {
    margin: 0;
    /* padding: 100px; */
    box-sizing: border-box;
    background-color: black;
    color: white;
}

h1 {
    font-style: italic;
    font-size: 50px;
    margin-bottom: 10px;
}

.container {
    display: flex;
    /* display: flex; 속성을 주면 기본값으로 row가 적용됩니다 */
    /* flex-direction: row; */

    /* 
  center라는 div로 left와 right사이의 간격을 주기 보다는 
  justify-content: space-between; 을 통해 양측으로 떨어지도록 
  요소를 배치할 수 있습니다!
  */
    justify-content: space-between;

    /* 
  body에 padding을 줘서 요소를 중앙으로 배치하는 것 보다는
  container에 width 값을 주고 margin 값은 auto로 주고, 
  위쪽 마진을 주는게 더 좋아 보이네요
  */
    width: 70%;
    margin: auto;
    margin-top: 150px;
}

.left {
    width: 600px;
}

/* id를 함부러 사용하면 안돼요! */
#blocks {
    display: flex;
    /* flex-direction: row; */
}

.block {
    width: 150px;
    margin: 5px;
    color: black;
    font-style: italic;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
}

.blocked-h3 {
    /*
  h3와 같은 인라인 요소에는 
  text-align속성을 상위 block요소에만 주면 됩니다! 
  */
    /* text-align: center; */

    padding: 35px;
    margin-left: auto;
    margin-right: auto;
}

/* 
.center {
  width: 300px;
} 
*/

h2 {
    font-size: 30px;
    margin-top: 150px;
    font-style: italic;
    text-align: center;
}

.input {
    margin: 10px;
    border: black;
    background-color: white;
    width: 300px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

i {
    color: gray;
}

input {
    margin-left: 10px;
    /* 선을 white로 배경색으로 설정해 보이자 않게 하는 것 보다는 none으로 설정하는게 더 좋습니다*/
    /* border: white; */
    border: none;
    /* 추가로 outline: none;을 주면 input을 선택했을 때의 선이 사라집니다!*/
    outline: none;

    font-style: italic;
    /* input 태그 크기를 좀 더 키워도 될 것 같네요 */
    width: 100%;
    margin-right: 10px;
}

#submit_button {
    text-align: center;
}

#submit {
    font-style: normal;
    font-weight: bold;
    background-color: orange;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    color: white;
    margin-top: 20px;
}
